In [14]:
import pandas as pd
import re

In [2]:
df1 = pd.read_excel("/Users/hadinowandish/Downloads/2023_02_24_Master_cleaning_FileName_Added.xlsx")

In [3]:
df2 = pd.read_excel("/Users/hadinowandish/Downloads/2023_02_23_Authors_Gender (1).xlsx")

In [9]:
df1

,film_id,film_seq_id,archive_fond_nr,archive_archival_document_nr,File.name,production_year,film_presentation_lang,film_physical_duration,film_physical_metrage,country_id,...,notes_LIGHTER,notes_PRODUCTION_SOUND_MIXER,FILM_MUSIC_MAKER_TYPE_COMPOSER_film_music_id,FILM_MUSIC_MAKER_TYPE_PERFORMER_film_music_id,FILM_MUSIC_MAKER_TYPE_COMPOSER_film_music_title,FILM_MUSIC_MAKER_TYPE_PERFORMER_film_music_title,FILM_MUSIC_MAKER_TYPE_COMPOSER_film_music_seq,FILM_MUSIC_MAKER_TYPE_PERFORMER_film_music_seq,FILM_MUSIC_MAKER_TYPE_COMPOSER_company_id,FILM_MUSIC_MAKER_TYPE_PERFORMER_company_id
0,540,540,4,52.0,efa0004_f_00052_int_01-0-01_00_dn_a_HD_k_EFA,1935.0,ET,06:15:00,178 m,56;138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,541,541,4,88.0,efa0004_vi_00088_tumm_01-0-01_00_SD_k_EFA,1936.0,ET,01:37:00,NaN,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,542,542,4,88.0,efa0004_vi_00088_tumm_01-0-01_00_SD_k_EFA,1936.0,ET,01:48:00,NaN,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,543,543,4,88.0,efa0004_vi_00088_tumm_01-0-01_00_SD_k_EFA,1936.0,ET,01:48:00,NaN,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,544,544,4,88.0,efa0004_vi_00088_tumm_01-0-01_00_SD_k_EFA,1936.0,ET,01:23:00,NaN,56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,20723,20567,203,1371.0,efa0203_vi_01371_est_01-0-01_00_SD_k_EFA,1963.0,ET,00:50:00,NaN,56,...,NaN,NaN,62647,NaN,"L,NA,0""",NaN,NaN,NaN,9653,NaN
8364,20724,20568,203,1371.0,efa0203_vi_01371_est_01-0-01_00_SD_k_EFA,1963.0,ET,01:06:00,NaN,56,...,Fotis kleebi (KG),NaN,62651,NaN,Marss,NaN,0.0,NaN,NaN,NaN
8365,20725,20569,203,1371.0,efa0203_vi_01371_est_01-0-01_00_SD_k_EFA,1963.0,ET,01:02:00,NaN,56,...,Fotis kleebi (KG),NaN,62641,NaN,Marss,NaN,0.0,NaN,NaN,NaN
8366,20726,20570,203,1371.0,efa0203_vi_01371_est_01-0-01_00_SD_k_EFA,1963.0,ET,01:14:00,NaN,56,...,NaN,NaN,62642,NaN,Eesti marss,NaN,0.0,NaN,NaN,NaN
8367,20806,14984,203,1333.0,efa0203_vi_01333_est_01-0-01_00_SD_k_EFA,1962.0,ET,01:32:00,NaN,56,...,NaN,NaN,65834,65834;65835,Waltzing Matilda,Waltzing Matilda;Rahvuslik lauluke,0.0,0.0,NaN,NaN

In [13]:
df1.to_excel('/Users/hadinowandish/Desktop/df1.xlsx', index=False)

In [11]:
# This one Replace correct name if the name is only value in the cell
# define a function to replace names based on df2
def replace_name(name):
    if name in df2['Full_Name'].values:
        return df2.loc[df2['Full_Name'] == name, 'correct_name'].iloc[0]
    else:
        return name

# iterate over each row of df1
for index, row in df1.iterrows():
    # iterate over each column of the row
    for col in df1.columns:
        # check if the cell value is a name that appears in df2
        if pd.notna(row[col]) and col != 'id' and col != 'date':
            df1.at[index, col] = replace_name(row[col])

In [15]:
# This replace the name if the name is only or mixed with other names or text in a cell
def replace_name(cell_value):
    if isinstance(cell_value, str):
        for index, row in df2.iterrows():
            full_name = row['Full_Name']
            correct_name = row['correct_name']
            if full_name in cell_value:
                # Use regular expression to match full name only when it is a separate word
                cell_value = re.sub(r'\b{}\b'.format(full_name), correct_name, cell_value)
    elif isinstance(cell_value, int):
        # Do nothing if the cell value is an integer
        pass
    else:
        # Return other data types as is
        return cell_value
    return cell_value

for col in df1.columns:
    df1[col] = df1[col].apply(replace_name)

In [16]:
df1.to_excel('/Users/hadinowandish/Desktop/df1.xlsx', index=False)